@use "@coreui/coreui/scss/coreui" as * with ( 
  $enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  gap: 0.3rem;
}

.react-pdf__Document > div {
  height: 5rem;
  min-height: 0!important;
}

.react-pdf__Page {
  overflow: clip;
}

.react-pdf__Page div {
  display: none;
}

.download-button {
  display: flex;
  position: absolute;
  background-color: #888;
  border-radius: .3rem;
  right: 0;
  opacity: 0;
  transition: opacity ease .2s;
  z-index: 1;
  padding: .3rem .3rem .3rem .35rem;
}

.relative:hover .download-button {
  opacity: 1;
}

.download-button:hover {
  background-color: #555;
}

.documento-titulo {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 1.5rem;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  color: black;
  font-size: 0.8rem;
  bottom: 0;
  overflow: clip;
  white-space: nowrap;
  padding: 0.3rem;
}

.documento-titulo > div, .download-button > a {
  display: flex;
}

.relative {
  position: relative;
  border: 1px solid #e5e5e5;
  min-height: 6rem;
}

.progress-thin {
  height: 0.8rem;
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}
